__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.eggs/
dist/
build/
sdist/

.venv/
venv/
env/
.env/
lib64/
parts/
var/
wheels/
htmlcov/
.env*.log
pip-log.txt
*.sqlite3
db.sqlite3
local_settings.py

.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
nosetests.xml
coverage.xml
*.cover